body{
  background-color: #F9D371;
}

hr{
  border-style: none;
  border-color: white;
  border-top-style: dotted ;
  border-width: 5px;
  width: 90%;
}
h1{
 color: #FF1700;
}
h2{
  color: #000B49;
}
h3{
  color: #D77FA1;
}
